body.superzen-vertical-tabs.superzen-dual-pane-mode.superzen-mode-center-full .workspace-split.mod-root .superzen-vtab-container .workspace-tab-header-inner-title {
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;
    white-space: normal !important;
    word-break: keep-all !important;
    overflow: visible !important;
    text-overflow: clip !important;
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    letter-spacing: 4px !important;
    line-height: 1 !important;
    display: block !important;
    flex: none !important;
    transform: none !important;
    color: var(--text-normal) !important;
    padding: 0px 10px 0px 0px;
}

body.superzen-vertical-tabs.superzen-dual-pane-mode.superzen-mode-center-full .workspace-split.mod-root .superzen-vtab-container .workspace-leaf .view-content {
    padding-right: 0px !important;
}